@charset "utf-8";

article{
  width:470px;
  height:729px;
  background:rgba(0,0,0,.2);
  margin:0px auto;
}

article h1{
  text-align: center;
}

/* 디즈니코리아 로고 */
article h1 a img{
  width:160px;
  height:80px;
}


.int>h2{
  font-size:32px;
  text-align:center;
}

#id,#pw{
  width:314px;
  height:50px;
}

.user{
  text-align:center;
}
.user img{
  width:160px;
  height:160px;
}
.int_area{text-align:center;}

.form{
  width:314px;
  height:250px;
  background:rgba(234, 105, 105, 0.2);
  text-align:center;
}

.int>form{margin-left:80px;}

/* 통합로그인*/
.btn_area button{
  width:322px;
  height:48px;
}

/* 아이디저장,아이디비번찾기 */
.cnf{
  font-size:13px;
}




