@charset "utf-8";

body{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

/* article{background-color: bisque;} */

article h1 img{
  width:10rem;
  margin-left:25%;
}

.top{
  /* background-color: red; */
}

.top h2{
  font-size:32px;
  padding-top:10px;
  text-align:center;
}
.top p{padding-top:5px;
font-size:14px;
font-weight:bold;}

.top p:last-child{
  padding-bottom:30px;
}
.sub_form{
  padding-bottom: 30px;
  border-bottom: 1px solid #000;

  /* background-color: aqua; */
}


article p{
  font-size:16px;
  margin-left:25%;
}

article p img{
  width:120px;
  height:120px;
  margin-left:20px;
  margin-top:10px;
}

.int_area input,.btn_area button{
  width:314px;
  height:50px;

}

.int_area input{
  background-color:#d9d9d9;
  border:1px solid rgb(77, 69, 69);
  margin-bottom:15px;
  border-radius: 5px;
}
.btn_area button{
  background-color:#0a2647;
  color:#fff;
  font-weight:bold;
  margin-left:3px;
}

.int_area input:hover{
  background:#fff;
}

.caption{
  margin-top:10px;
  display:flex;
}

.find{
  font-size:15px;
  margin-left:85px;}

.new{
  display:flex;
  padding-top:10px;
  transform:translateX(-30px);
}

.new p{
  font-size:14px;}
.new a{font-weight:bold;
font-size:14px;}





