@charset "utf-8";

@media screen and (min-width:1025px) {
  
  header{
    position: relative;
    background:#0A2647;
    height: 70px;
  }
  #nav_wrap{
    width:1040px;
    margin:0 auto;
  }
  
  #nav_Wrap > #h_logo h1{
    width:120px;height: 70px;
    position: absolute;
    top:10px; left:0px; 
  }
  
  
  #nav_wrap > h1 img{width: 100%;} 
  
  #nav_wrap > .h_top{
    width: 1040px;
    height: 35px; 
    position: absolute;
    top:10px;right:0px;
    background: #0A2647;
    }

  /* 내비게이션 상단부분 서식 */
#nav_wrap > .lnb{
    width: 280px;
    position: absolute;
    top:0px;right:0px;
    background: #0A2647;
}
.lnb > ul > li > a{
  font-size:13px;
}

  .lnb > ul{
    display: flex;
    width:270px;
    justify-content: space-evenly;
  }
  .lnb > ul > li:last-of-type > a{
    background:linear-gradient(#ff69ae,#305ccd);
    padding:0px 10px;
    vertical-align: 5px;

  }
   .lnb > ul > li:first-of-type > a::after{
    width:1px;height:14px;
    background:#fff;
    content:"";
    display:block;
    position:relative;top:-15px;left:54px;
  }
  .h_bottom{
    width: 1040px;
    position: absolute;
    bottom:0px;right:200px;
    background: #0A2647;
    transform: translateX(-50px);
  }
  .lnb > ul a:hover{
    text-decoration: underline;
  }
  /* 내비게이션 하단부분 서식 */
  .h_bottom .gnb{
    width:1040px;


  
  }
  .h_bottom .gnb > ul{
    display: flex;
    justify-content: flex-end;
    
  }
  .h_bottom .gnb > ul > li{
    text-align: center;
    position:relative;
    top:0px; right:200px;
  }
  .gnb > ul > li > a{
    font-size: 16px;
    display: block;
    padding:10px 25px;
  }
  
  /* 서브메뉴서식 */
  .sub{
    position:absolute;
    top:35px; right:0px;
    background: rgba(0, 0, 0, .9);
    width:101%;
    height: 250px;
    display: none;
  }
  .gnb > ul > li:first-of-type .sub{
    padding-left: 1000px;
  }

  .gnb > ul > li:last-of-type .sub{padding-right: 300px;
    transform: translateX(300px);
  }
  .sub > li > a {
    font-size: 12px;
    display: block;
    padding-top: 12px;
  }
  .sub > li > a:hover {
    text-decoration: underline;
  }
  
  /* gnb에 마우스올리면 서브메뉴 나오게 */
  .gnb:hover .sub{
    display: block;
    transition: 0.4s;
  }
}
